body {
}

.navbar {
    background-color: #03071E;
    display: flex;
    justify-content: flex-end;
}

.navbar-brand {
    padding-left: 60px;
}

.navbar-expand-lg .navbar-collapse {
    padding-right: 60px;
    margin: 20px;
}

@media (min-width: 375px) {
    .navbar-expand-sm .navbar-collapse {
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .navbar-expand-sm .navbar-collapse {
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}

.botao {
    background-color: #FF6300;
    color: #FFFFFF;
    border-radius: 30px;
    border-width: thin;
    border-width: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: dashed;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.navbar-toggler-icon {
    background-color: #FF6300;
}

.navbar-toggler {
    background-color: #FF6300;
}